/* universal syling */
html {
    font-family: Helvetica, sans-serif;
    background-color: bisque;
    font-size: 18px;
}

span {
    font-weight: bold;
    font-size: 1.2rem;
}

.header {
    text-align: center;
    border-bottom: 1px solid black;
}

.examples {
  display: inline-block;  
}

a {
    text-decoration: none;
}

.sect2 {
    display: flex;
    flex-direction: column;
}
.subtitles {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    text-align: center;
    border-bottom: 1px solid black;
}

.vidTitle {
  display: flex;
  padding: 1.5rem;
  font-size: 1.5rem;
  margin: 0 auto;
  
  text-align: center;
}

.video-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
